.table{
    /* width: 900px; */
    width: 100%;
}

.butt{
    border-radius: 12px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;


}

.totals{
    text-align: center;
}

hr{
    width: 900px;
}
