.header{
  background-image: url("/static/homepage/media/piano_wallpaper.jpg");
  background-size: cover;
  height:600px;
}

header h1{
  text-align: left;
  padding-top: 10%;
  padding-left: 12%;
  margin: 0px;
}

header p{
  text-align: left;
  padding-top: 5%;
  padding-left: 28%;
}

.center{
  text-align: center;
  background-color: white;
}

img{

  padding: 10px;
}

.btn-lg{
  background: black;
  color: #87bc5c;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  /* -webkit-transform:scale(0.5,2); */
}

.navbar {
    border-radius: 0px;
}

h4.utc-time {
    color: #AA3333;
}
