<%inherit file="app_base.html" />







<%block name="content_center">

    <h1 class="title">${ name }</h1>

    ## <div id="paginator">
    ##     <a id= "pLeft"><<< </a>Page <span id="Page">1</span> of <span id="total">${myPages}</span><a id="pRight"> >>></a>
    ## </div>
    <a id="previous"><i class="far fa-arrow-alt-circle-left"></i></a>
      Page <span id="Page">1</span> of ${myPages}
    <a id="next"><i class="far fa-arrow-alt-circle-right"></i></a>

    <div id="ajax_container">

    </div>
</%block>
