<%inherit file="app_base.html" />


<%block name="top_center">
<h1>Frequently Asked Questions</h1>
</%block>

<%block name="content_left">
<h3>faq left side</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</%block>

<%block name="content_right">
    <h3>faq right side</h3>
</%block>


<%block name="content_center">
    <h2>Questions</h2>
    How many instruments do you guys sell?<br/><br/>
    How long can I rent a flute for?<br/><br/>
    Who owns this place?<br/><br/>
    Do you do daily rentals?<br/><br/>
    What's the cheapest rental?<br/><br/>
    Do you guys offer music classes?<br/><br/>
    Do you offer any private piano lessons?<br/><br/>
    Do you have any locations on the East Coast?<br/><br/>
</%block>




