<%inherit file="app_base.html" />

<%block name = "skip">
</%block>
    <a href="#content" class="skip">Skip to content</a>
<%block name="top_center">
<div class="row">
        <img class="img-responsive" src="${ STATIC_URL }homepage/media/Images/piano3.jpg" alt="Black Piano"/>
        <div class="title">
            <a name="main-content" tabindex="-1"></a>
            <h1>F.O.M.O.</h1>
            <a href="/catalog/" id="shop" type="button" class="btn btn-large btn-inverse">Shop</a><br/><br/>
        </div>

</div>

</%block>



<%block name="content_right">
     <img id="social" src="${ STATIC_URL }homepage/media/Images/social.png" alt="Social Media Icons"/>
</%block>

<%block name="content_center">
<div id="content">
    <h2>Music Rentals</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</br>
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com</br>
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</br>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>


    </br>
    </br>
    </br>
</%block>




